body{
	background-color: #333333;
}


img{
	width: 125px;
	height: 125px;
}


.todo{
	background-color: #D8D8D8;
	margin-right:25%;
	margin-left:25%;
	border-radius: 5px;
	min-width: 50%; 
	max-width: 50%; 
	min-height: 660px; 
	max-height: 660px;
}

.registro{
	border-style: solid;
	border-color: white;
	background-color: white;
	border-radius: 5px;
}

.roboto{
	font-family: 'Roboto', sans-serif;	
}

.lato{
	font-family: 'Lato', sans-serif;
}

.title{
	color: #00B8D4;
	text-align: center;
	font-size: 20pt;
	font-family: lato;
}

input{
	border-color: #333333;
	border-radius: 5px;
	width: 80%;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.signup{
	color: white;
	margin-top: 25px;
	background-color: #00E5FF;
	font-family: lato;
	font-size: 15pt;
	width: 80%;
	border-style: none;
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.signup:hover{
	background-color: #00B8D4;
}

a{
	color: #00B8D4;
	text-decoration: underline;
	font-family: roboto;
}

p{
	font-family: roboto;
}

input:focus{
	border-color: #00B8D4;
	outline: none;
}