body{
	background-color: #333333;
}

.derecha{
	width: 500px;
	margin-left: auto;
	float:right;
	margin-top:20px;
	margin-right:20px;
	
}

.titulopropaganda{
	color: #00B8D4;
	font-size: 20pt;
	font-family: lato;
}

.bodypropaganda{
	font-size: 15pt;
	
}

.izquierda{
	margin-right: auto;
	min-width: 800px;
	max-width: 800px;
	float:left;
	margin-top: 20px;
	margin-left: 20px;
}

img{
	width: 150px;
	height: 150px;
	margin-left: 43%;
	margin-top: 25px;
}

.todo{
	background-color: #D8D8D8;
	border-radius: 5px;
	min-width: 1340px; 
	margin: 0 auto; 
	max-width: 1340px; 
	min-height: 700px; 
	max-height: 660px;
}

.registro{
	border-style: solid;
	border-color: white;
	background-color: white;
	border-radius: 5px;
}

.roboto{
	font-family: 'Roboto', sans-serif;	
}

.lato{
	font-family: 'Lato', sans-serif;
}

.title{
	color: #00B8D4;
	text-align: center;
	font-size: 20pt;
	font-family: lato;
}

input{
	border-color: #333333;
	border-radius: 5px;
	width: 80%;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.signup{
	color: white;
	margin-top: 25px;
	background-color: #00E5FF;
	font-family: lato;
	font-size: 15pt;
	width: 80%;
	border-style: none;
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.signup:hover{
	background-color: #00B8D4;
}

a{
	color: #00B8D4;
	text-decoration: underline;
	font-family: roboto;
}

p{
	font-family: roboto;
}

input:focus{
	border-color: #00B8D4;
	outline: none;
}